body {
  background-color: #72369D;
}
#div2{
background-color: #72369D;
 text-align: center;
 font-size: 100px;
 color: white;
 margin-left: auto;
margin-right: auto;
} 
#div3 {
background-color: black;
 color: white;
 width: 300px;
 border: solid; 
 border-color: white;
border-radius: 25px 25px 25px 25px;
  margin-left: auto;
margin-right: auto; 
text-align: center; 

}
#logo {
width: 100px; 
height: 100px; 
border: solid;
border-color: white;
margin-left: 100px;
	
}
#myHeader {
background-color:white ; 
text-align: center;
width: 100px; 
padding: 10px;
border-radius: 35px 35px 35px 35px;
margin-left: auto;
margin-right: auto;
	color: black;
}
#myHeader1 {
background-color:white ; 
text-align: center;
width: 100px; 
padding: 10px;
border-radius: 35px 35px 35px 35px;
margin-left: auto;
margin-right: auto;
	color: black;
}

#myHeader2 {
background-color:white ; 
text-align: center;
width: 100px; 
padding: 10px;
	border: solid;
border-color: black;
border-radius: 35px 35px 35px 35px;
margin-left: auto;
margin-right: auto;
	color: black;
}




