*{
	font-family: "Open Sans", sans-serif;
}

body {
background-color:#72369D !important;
}
#pic1 {
width: 100px;
height: 100px;	
	
}
#paymethod1 {
width: 100px  !important; 
height: 100px  !important; 	
}
/* Home page */
#hero{
	background-image: url(img/header.jpg);
	min-height: 150vh;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top 25% right 0;
	padding: 0 80px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	border: 1px solid white;
	color: grey;
}

#hero h4{
	padding-bottom: 15px;
}

#product1{
	text-align: center;
}

#product1 .pro-container{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

#product1 .pro{
	width: 23%;
	min-width: 250px;
	padding: 10px 12px;
	border: 1px solid white;
	border-radius: 25px;
	cursor: pointer;
	margin: 15px 0;

}

#product1 .pro img{
	width: 100%;
	border-radius: 20px;
}

#product1 .pro .des{
	text-align: start;
	padding: 10px 0;
}

#product1 .pro .des span{
	color: #1a1a1a;
	font-size: 16px;
}

#product1 .pro .des .h5{
	padding-top: 7px;
	color: #1a1a1a;
	font-size: 14px;
}

#product1 .pro .des i{
	font-size: 12px;
	color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
	padding-top: 7px;
	font-size: 15px;
	font-weight: 700;
	color: #1a1a1a;
}

/* services section css */
.servicesText.card {
    cursor: pointer;
  }

.card-title {
    text-align: center;
}

.servicesText:hover {
    border: 1px solid #032503;
}

/* Testimonials */

.testimonials{
	padding: 40px 0;
	
	color: #434343;
	text-align: center;

}

.inner{
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 0 20px;
}

.border{
	width: 160px;
	height: 5px;
	background: #032503;
	margin: 26px auto; 
}

.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.col{
	flex: 33.33%;
	max-width: 33.33;
	box-sizing: border-box;
	padding: 15px;
}

.testimonial{
	background: #fff;
	padding: 30px;
}

.testimonial img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.name{
	font-size: 20px;
	text-transform: uppercase;
	margin: 20px 0;
}

.star{
	color: rgb(243, 181, 25);
	margin-bottom: 20px;
}

@media screen and (max-width:960px) {
	.col{
		flex: 100%;
		max-width: 80%;
	}
}

/* Logo */

#logo2 {
width: 150px;
height: 150px;
border: solid;
border-color: white;
margin-right: 100px ;
}
#p1{
margin-left: auto;
margin-right: auto;
}
#logo {
width: 200px;
height: 200px;
border: solid;
border-color: white;
display: block;
margin-left: auto;
margin-right: auto;

}
#logo8 {
width: 600px;
height: 600px;
border: solid;
border-color: white;
display: block;
margin-left: auto;
margin-right: auto;

}
h2 {
 margin-left: auto;
margin-right: auto; 
}

#qtyBox{
	margin-bottom: 10px;
}

#qty{
	width: 15%;
}

.top-space{
	margin-top: 10px;
}



.container{
	z-index: 12;
	width: 100%;
	background: #fff;
	border-radius: 12px;
	margin: 20px 40px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  .container .content{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 20px;
  }
  .content .image-box{
	max-width: 55%;
  }
  .content .image-box img{
	width: 100%;
  }
  .content .topic{
	font-size: 22px;
	font-weight: 500;
	color: #ba24c2;
  }
  .content form{
	width: 40%;
	margin-right: 30px;
  }
  .content .input-box{
	height: 50px;
	width: 100%;
	margin: 16px 0;
	position: relative;
  }
  .content .input-box input{
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 6px;
	font-size: 16px;
	outline: none;
	padding-left: 16px;
	background: #fae9fb;
	border: 2px solid transparent;
	transition: all 0.3s ease;
  }
  .content .input-box input:focus,
  .content .input-box input:valid{
	border-color: #ba24c2;
	background-color: #fff;
  }
  .content .input-box label{
	position: absolute;
	left: 18px;
	top: 50%;
	color: #636c72;
	font-size: 15px;
	pointer-events: none;
	transform: translateY(-50%);
	transition: all 0.3s ease;
  }
  .content .input-box input:focus ~ label,
  .content .input-box input:valid ~ label{
	top: 0;
	left: 12px;
	display: 14px;
	color: #ba24c2;
	background: #fff;
  }
  .content .message-box{
	min-height: 100px;
	position: relative;
  }
  .content .message-box textarea{
	position: absolute;
	height: 100%;
	width: 100%;
	resize: none;
	background: #fae9fb;
	border: 2px solid transparent;
	border-radius: 6px;
	outline: none;
  }
  .content .message-box textarea:focus{
	border-color: #ba24c2;
	background-color: #fff;
  }
  .content .message-box label{
	position: absolute;
	font-size: 16px;
	color: #636c72;
	left: 18px;
	top: 6px;
	pointer-events: none;
	transition: all 0.3s ease;
  }
  .content .message-box textarea:focus ~ label{
	left: 12px;
	top: -10px;
	color: #ba24c2;
	font-size: 14px;
	background: #fff;
  }
  .content .input-box input[type="submit"]{
	color: #fff;
	background: #ba24c2;
	padding-left: 0;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	letter-spacing: 1px;
	transition: all 0.3s ease;
  }
  .content .input-box input[type="submit"]:hover{
	background-color: #d43ddb;
  }
  @media (max-width:1000px) {
	.content .image-box{
	  max-width: 70%;
	}
	.content{
	  padding: 10px 0;
	}
  }

