body {
background-color: #DBF9FC;
}

#div3 {
background-color: black; 
border: solid;
border-color: white; 
color: white;
border-radius: 30px 30px 30px 30px;
width: 200px;
length: 200px;	
	
}
#logo2 {
width: 150px;
height: 150px;
border: solid;
border-color: white;
margin-right: 100px ;
	
}



#logo {
width: 200px;
height: 200px;
border: solid;
border-color: white;
margin-left: 400px;
	
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 600px;
  text-align: center; 
  margin-left: auto;
margin-right: auto;
}

th {
  border: 5px solid black;
  text-align: left;
  padding: 8px;
}
td {
  border: 5px solid black;
  text-align: left;
  padding: 8px;
  height: 20px;
}
