body {
background-color: #DBF9FC;
}





#logo {
width: 200px;
height: 200px;
border: solid;
border-color: white;
margin-left: auto;
margin-right:auto;
	
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 600px;
  text-align: center; 
  margin-left: auto;
margin-right: auto;
}

th {
  border: 5px solid black;
  text-align: left;
  padding: 8px;
}
td {
  border: 5px solid black;
  text-align: left;
  padding: 8px;
  height: 20px;
}
